[submodule "pyfuge/py_fiseval/pybind11"]
	path = trefle/fuzzy_engine/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "pyfuge/py_fiseval/trefle_engine"]
	path = trefle/fuzzy_engine/trefle_engine
	url = ../trefle_engine.git
